body {
    margin: 30px
}

p> img {
    margin-right: 10px;
    height: 400px;
    float: left;
    opacity: 0.5;
}

p{
    font-size: 30px;
    text-align: left;
    background-image: url(bg1.png);
    overflow: hidden;
}

